/* You can add global styles to this file, and also import other style files */
.p-8 {
  padding: 8px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-4 {
  margin-top: 4px;
}

.white-1 {
  color: #ffff;
}

.white-2 {
  color: #A6A6A6;
}

.cursor-pointer {
  cursor: pointer;
}

.mb-4 {
  margin-bottom: 4px;
}